<!--Моделлю сторінки є список (метод контролеру передає об'єкти з інформації на представлення)
    а представлення може брати інформацію з цього об'єкту-->

@model IEnumerable<Gukki.Models.Schedule>

@{
    ViewData["Title"] = "Розклад роботи";
}

<div class="text-center">
    <h1 class="display-4 text-light">Gukki - Розклад роботи</h1>
</div>

<!--Модальне віконце (за замвовчанням сховане, але при натисканні конпи видалити відкрівається)-->
<div class="modal" id="confirm-delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Ви впевнені що хочете видалити це?
            </div>
            <div class="modal-body text-center">
                <img class="image-responsive" src="~/img/junkloader.gif" alt="Анімация викидання сміття"
                    style="max-height:200px; max-width:200px;" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-defaul" data-dismiss="modal">Передумав</button>
                <a class="btn btn-danger btn-ok" id="Deleter" asp-controller="Schedule" asp-action="Delete">Видалити</a>
            </div>
        </div>
    </div>
</div>


<!--Через цикл виводимо список всіх продуктів, отриманних з методу контролеру-->
<div class="row justify-content-center bg-light">
    <div class="table-responsive-sm">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">День</th>
                    <th scope="col">Відкриття</th>
                    <th scope="col">Зачинення</th>
                    <th scope="col">Індекс впорядкування</th>
                    <th scope="col">Дія</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th>@Html.DisplayFor(modelItem => item.WeekdayName)</th>
                        <td>@Html.DisplayFor(modelItem => item.OpenTime)</td>
                        <td>@Html.DisplayFor(modelItem => item.CloseTime)</td>
                        <td>@Html.DisplayFor(modelItem => item.OrderIndex)</td>
                        <td>
                            <a class="btn d-inline p-0 m-0" asp-action="AddOrEdit" asp-route-id="@item.Id">✏️</a>
                            <!--Обробник цієї кнопки викликає JS функцію PassId (див. wwwroot\\js) та передає кнопці
                            модального віконця ID продукту для видалення-->
                        <button class="btn d-inline p-0 m-0" data-toggle="modal" data-target="#confirm-delete"
                            onclick="PassId(@item.Id)">
                                🗑
                            </button>
                        </td>
                    </tr>
                }
                <tr><td><a class="btn" asp-action="AddOrEdit">➕</a></td></tr>
            </tbody>
        </table>
    </div>
</div>


<script type="text/javascript">

    // Початкова URL для подальшого модифікування
    // Передаєм byValue до методу PassId
    const CancelDeleteURL = document.getElementById('Deleter').href;
    // Передає ID для видалення продукту на modal представлення
    function PassId(DeleterId, CancelURL = CancelDeleteURL) {
        let deleteUrl = CancelURL += '/' + DeleterId;
        document.getElementById('Deleter').href = deleteUrl;
    }
</script>